<div class="card ed-card">
  <button class="wishlist-section">
    <img src="./assets/images/bookmark.png" alt="bookmark" />
  </button>
  <div class="card-body" *ngIf="product as course">
    <div class="course-banner">
      <img
        class="fix-image"
        [src]="course.image"
        onerror="this.src='https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081'"
        [alt]="course.title"
      />
    </div>
    <div class="row pt-2">
      <div class="col-6 d-flex align-items-center">
        <img
          class="course-provider-logo"
          src="{{ serverUrl }}{{ course.course_provider.image }}"
          alt="course-provider"
        />
      </div>
      <div class="col-6">
        <h5 class="course-price">
          {{ course.price | currency: "INR" }}
        </h5>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        <a href="javascript:void(0);">
          <h4 class="ed-card-title ellipsis-text-two-line">
            {{ course.title }}
          </h4>
        </a>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col-6">
        <div class="card-overview">
          <div class="d-flex justify-content-start">
            <img src="./assets/images/play.png" alt="play" />
            <p class="ellipsis-text">20 Lessons</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card-overview">
          <div class="d-flex justify-content-end">
            <img src="./assets/images/guide.png" alt="guide" />
            <p class="ellipsis-text">Guided Course</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3">
      <div class="col">
        <div class="compare-section">
          <img src="./assets/images/addcompare.png" alt="addcompare" />
          <h5>Add to compare</h5>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col d-flex align-items-center pe-0">
        <div class="coursecard-footer">
          <div class="rating-stars">
            <i
              class="far fa-star"
              [class.text-warning.fas]="course.rating > 0"
            ></i>
            <i class="far fa-star" [class.text-warning]="course.rating > 1"></i>
            <i class="far fa-star" [class.text-warning]="course.rating > 2"></i>
            <i class="far fa-star" [class.text-warning]="course.rating > 3"></i>
            <i class="far fa-star" [class.text-warning]="course.rating > 4"></i>
          </div>
          <p class="review-text">
            <b>{{ course.rating }} Reviews</b>
          </p>
        </div>
      </div>
      <div class="col-3">
        <a class="d-flex justify-content-end" href="javascript:void(0);">
          <img src="./assets/images/reviewArrow.png" alt="reviewArrow" />
        </a>
      </div>
    </div>
  </div>
</div>
