.fix-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.far.text-warning {
  font-weight: 900;
}
.rating-stars > i {
  margin-right: 0.15rem;
}

.rating-stars > i:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .rating-stars,
  .coursecard-footer .review-text{
    font-size: 0.7rem;
  }
}