<div class="card ed-card filter-card" *ngIf="product as course">
  <button class="wishlist-section" [class.bg-danger]="course?.wish_list">
    <ng-container *ngIf="type == 'product'; else wishlist">
      <img
        *ngIf="!course?.wish_list"
        src="./assets/images/bookmark.png"
        alt="bookmark"
        (click)="addToWishlist(course.id)"
      />
      <img
        *ngIf="course?.wish_list"
        src="./assets/images/bookmark_white.png"
        alt="bookmark"
        (click)="removeToWishlist(course.id)"
      />
    </ng-container>
    <ng-template #wishlist>
      <i class="fa fa-times" (click)="removeToWishlist(course.id)"></i>
    </ng-template>
  </button>
  <div class="card-body">
    <div class="course-banner">
      <a
        [routerLink]="
          course.course_category && [
            '/',
            course.course_category.slug,
            course.course_sub_category.slug,
            'course-topic',
            course.slug
          ]
        "
      >
        <img
          class="fix-image"
          [src]="course.image"
          onerror="this.src='https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081'"
          [alt]="course.title"
        />
      </a>
    </div>
    <div class="row pt-2">
      <div class="col-6 d-flex align-items-center">
        <img
          *ngIf="course?.course_provider?.image"
          class="course-provider-logo"
          src="{{ serverUrl }}/{{ course?.course_provider?.image }}"
          alt="course-provider"
        />
      </div>
      <div class="col-6">
        <!-- {{ course.Pscale }} -->
        <rupee-scale [scale]="product.Pscale"></rupee-scale>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col">
        <a
          [routerLink]="
            course.course_category && [
              '/',
              course.course_category.slug,
              course.course_sub_category.slug,
              'course-topic',
              course.slug
            ]
          "
        >
          <h4 class="ed-card-title ragular-text_1 ellipsis-text-two-line">
            {{ course.title }}
          </h4>
        </a>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-6" *ngIf="course.CourseContent">
        <div class="card-overview">
          <div class="d-flex justify-content-start">
            <img src="./assets/images/play.png" alt="play" />
            <p class="ellipsis-text">{{ course.CourseContent }}</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card-overview">
          <!-- <div class="d-flex justify-content-end">
            <img src="./assets/images/guide.png" alt="guide" />
            <p class="ellipsis-text">Guided Course</p>
          </div> -->
          <div
            *ngIf="!course.compare_list"
            class="compare-section"
            (click)="addToCompare(course.id)"
          >
            <img src="./assets/images/addcompare.png" alt="addcompare" />
            <h5>Compare</h5>
          </div>
          <div
            *ngIf="course.compare_list"
            class="compare-section"
            (click)="removeToCompare(course.id)"
          >
            <img src="./assets/images/cross.png" alt="addcompare" />
            <h5>Compare</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row pt-3">
      <div class="col">
        <div class="compare-section">
          <img src="./assets/images/addcompare.png" alt="addcompare" />
          <h5>Add to compare</h5>
        </div>
      </div>
    </div> -->
    <hr />
    <div class="row">
      <div class="col d-flex align-items-center pe-0">
        <div class="coursecard-footer">
          <rupee-scale [scale]="course.rating" type="ratings"></rupee-scale>
          <p class="review-text">
            <b>{{ course.Reviews }} Reviews</b>
          </p>
        </div>
      </div>
      <div class="col-3 text-end">
        <div class="btn-group card-redirection-ele">
          <a
            class="d-flex justify-content-end"
            href="javascript:void(0)"
            [routerLink]="
              (course.course_category && [
                '/',
                course.course_category.slug,
                course.course_sub_category.slug,
                'course-topic',
                course.slug
              ]) ||
              []
            "
            aria-expanded="false"
          >
            <!-- data-bs-toggle="dropdown" -->
            <img src="./assets/images/reviewArrow.png" alt="reviewArrow" />
          </a>
          <ul class="dropdown-menu p-1">
            <li class="mb-1">
              <a
                class="btn btn-outline-danger btn-sm w-100"
                [routerLink]="
                  (course.course_category && [
                    '/',
                    course.course_category.slug,
                    course.course_sub_category.slug,
                    'course-topic',
                    course.slug
                  ]) ||
                  []
                "
                >Go to details</a
              >
            </li>
            <li>
              <a
                class="btn btn-outline-warning btn-sm w-100"
                target="_blank"
                [href]="course.url"
                >Go to classes</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tooltip-small-info-box">
    <div class="tooltip-small-info-body">
      <h6 class="mb-0">Learning How to Learn: Powerful mental tools to help you master tough subjects</h6>
      <em class="text-success">Updated On March 2021</em><br/>
      <span class="caption">All levels, Subtitle</span>
      <ul class="d-grid gap-1 my-2 list-unstyled">
        <li class="d-flex gap-2">
          <img src="/assets/images/check-icon.png" class="tooltip-img bi text-muted flex-shrink-0" />
          <div>
            <p class="list-text mb-0">Learn to use Python professionally, learning both Python 2 and Python 3!</p>
          </div>
        </li>
        <li class="d-flex gap-2">
          <img src="/assets/images/check-icon.png" class="tooltip-img bi text-muted flex-shrink-0" />
          <div>
            <p class="list-text mb-0">Learn to use Python professionally, learning both Python 2 and Python 3!</p>
          </div>
        </li>
        <li class="d-flex gap-2">
          <img src="/assets/images/check-icon.png" class="tooltip-img bi text-muted flex-shrink-0" />
          <div>
            <p class="list-text mb-0">Learn to use Python professionally, learning both Python 2 and Python 3!</p>
          </div>
        </li>
      </ul>
      <div class="btn-toolbar mt-4" role="toolbar" aria-label="Toolbar with button groups">
          <button type="button" class="btn tooltip-btn ed-common-blue-btn">Add to Card</button>
          <button type="button" class="btn tootlbar-bookmark-btn">
            <img src="./assets/images/bookmark.png" alt="bookmark" width="28px">
          </button>
      </div>
    </div>
  </div>
</div>
