<section class="landing-page-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="landing-page-banner">
          <div class="row banner-content">
            <div class="col-sm-12 col-md-8 col-lg-6">
              <h1 class="landing-page-text">
                Learn. <br />From The World's Best.
              </h1>
              <p>What do you like to learn?</p>
              <div class="banner-input-box">
                <form>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Search your course...."
                  />
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="choose-compare-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="landing-page">
          Edhub helps you choose &amp; compare the best course from global
          Ed-tech leaders like Udemy, Coursera, Skillshare, Linkedin Learning
          &amp; many more.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg">
        <div class="feature">
          <div class="feature-anim-icon">
            <div class="feature-icon">
              <img
                src="./assets/images/icon1.png"
                class="card-img-top"
                alt="Browe Icon"
              />
            </div>
          </div>
          <div class="p-2">
            <h5 class="card-title">BROWSE</h5>
            <p class="card-text">Search from the world's best courses</p>
          </div>
        </div>
      </div>
      <div class="col-lg d-none d-lg-block">
        <img
          src="./assets/images/Arrow1.png"
          class="card-img-top"
          alt="Arrow"
        />
      </div>
      <div class="col-sm-12 col-md-4 col-lg">
        <div class="feature">
          <div class="feature-anim-icon">
            <div class="feature-icon">
              <img
                src="./assets/images/icon2.png"
                class="card-img-top"
                alt="Analyze & Compare Icon"
              />
            </div>
          </div>
          <div class="p-2">
            <h5 class="card-title">ANALYZE AND COMPARE</h5>
            <p class="card-text">
              Find your Perfect course among thousands of others
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg d-none d-lg-block">
        <img
          src="./assets/images/Arrow2.png"
          class="card-img-top"
          alt="Arrow"
        />
      </div>
      <div class="col-sm-12 col-md-4 col-lg">
        <div class="feature">
          <div class="feature-anim-icon">
            <div class="feature-icon">
              <img
                src="./assets/images/icon3.png"
                class="card-img-top"
                alt="Up Skill Icon"
              />
            </div>
          </div>
          <div class="p-2">
            <h5 class="card-title">UPSKILL</h5>
            <p class="card-text">
              Get certified & Reward your brain with an extra skill
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="popular-choice-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="landing-page">Business</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <p class="fs-5">
          Learn top-rated courses like Entrepreneurship, Project Management,
          Business analytics &amp; Intelligence from experts.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <button
          type="button"
          class="btn btn-ed-lg btn-primary-theme ms-lg-auto mb-4"
        >
          View All
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="course-slider">
          <div class="mb-3">
            <div class="card ed-card tooltip" title="">
              <button class="wishlist-section">
                <img src="./assets/images/bookmark.png" alt="bookmark" />
              </button>
              <div class="card-body">
                <div class="course-banner">
                  <img
                    class="img-fluid"
                    src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                    alt="Book Paid Speaking Engagements in 2021"
                  />
                </div>
                <div class="row pt-2">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="course-provider-logo"
                      src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                      alt="course-provider"
                    />
                  </div>
                  <div class="col-6">
                    <h5 class="course-price">$ 19.99</h5>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <a href="javascript:void(0);">
                      <h4 class="ed-card-title">
                        Book Paid Speaking Engagements in 2021
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-start">
                        <img src="./assets/images/play.png" alt="play" />
                        <p class="ellipsis-text">20 Lessons</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-end">
                        <img src="./assets/images/guide.png" alt="guide" />
                        <p class="ellipsis-text">Guided Course</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <div class="compare-section">
                      <img
                        src="./assets/images/addcompare.png"
                        alt="addcompare"
                      />
                      <h5>Add to compare</h5>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <div class="coursecard-footer">
                      <img src="./assets/images/star0.png" alt="Star" />
                      <p class="review-text">
                        <b>0 &nbsp; Reviews</b>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <a
                      class="d-flex justify-content-end"
                      href="javascript:void(0);"
                    >
                      <img
                        src="./assets/images/reviewArrow.png"
                        alt="reviewArrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="card ed-card tooltip" title="">
              <button class="wishlist-section">
                <img src="./assets/images/bookmark.png" alt="bookmark" />
              </button>
              <div class="card-body">
                <div class="course-banner">
                  <img
                    class="img-fluid"
                    src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                    alt="Book Paid Speaking Engagements in 2021"
                  />
                </div>
                <div class="row pt-2">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="course-provider-logo"
                      src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                      alt="course-provider"
                    />
                  </div>
                  <div class="col-6">
                    <h5 class="course-price">$ 19.99</h5>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <a href="javascript:void(0);">
                      <h4 class="ed-card-title">
                        Book Paid Speaking Engagements in 2021
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-start">
                        <img src="./assets/images/play.png" alt="play" />
                        <p class="ellipsis-text">20 Lessons</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-end">
                        <img src="./assets/images/guide.png" alt="guide" />
                        <p class="ellipsis-text">Guided Course</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <div class="compare-section">
                      <img
                        src="./assets/images/addcompare.png"
                        alt="addcompare"
                      />
                      <h5>Add to compare</h5>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <div class="coursecard-footer">
                      <img src="./assets/images/star0.png" alt="Star" />
                      <p class="review-text">
                        <b>0 &nbsp; Reviews</b>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <a
                      class="d-flex justify-content-end"
                      href="javascript:void(0);"
                    >
                      <img
                        src="./assets/images/reviewArrow.png"
                        alt="reviewArrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="card ed-card tooltip" title="">
              <button class="wishlist-section">
                <img src="./assets/images/bookmark.png" alt="bookmark" />
              </button>
              <div class="card-body">
                <div class="course-banner">
                  <img
                    class="img-fluid"
                    src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                    alt="Book Paid Speaking Engagements in 2021"
                  />
                </div>
                <div class="row pt-2">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="course-provider-logo"
                      src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                      alt="course-provider"
                    />
                  </div>
                  <div class="col-6">
                    <h5 class="course-price">$ 19.99</h5>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <a href="javascript:void(0);">
                      <h4 class="ed-card-title">
                        Book Paid Speaking Engagements in 2021
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-start">
                        <img src="./assets/images/play.png" alt="play" />
                        <p class="ellipsis-text">20 Lessons</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-end">
                        <img src="./assets/images/guide.png" alt="guide" />
                        <p class="ellipsis-text">Guided Course</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <div class="compare-section">
                      <img
                        src="./assets/images/addcompare.png"
                        alt="addcompare"
                      />
                      <h5>Add to compare</h5>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <div class="coursecard-footer">
                      <img src="./assets/images/star0.png" alt="Star" />
                      <p class="review-text">
                        <b>0 &nbsp; Reviews</b>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <a
                      class="d-flex justify-content-end"
                      href="javascript:void(0);"
                    >
                      <img
                        src="./assets/images/reviewArrow.png"
                        alt="reviewArrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="card ed-card tooltip" title="">
              <button class="wishlist-section">
                <img src="./assets/images/bookmark.png" alt="bookmark" />
              </button>
              <div class="card-body">
                <div class="course-banner">
                  <img
                    class="img-fluid"
                    src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                    alt="Book Paid Speaking Engagements in 2021"
                  />
                </div>
                <div class="row pt-2">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="course-provider-logo"
                      src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                      alt="course-provider"
                    />
                  </div>
                  <div class="col-6">
                    <h5 class="course-price">$ 19.99</h5>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <a href="javascript:void(0);">
                      <h4 class="ed-card-title">
                        Book Paid Speaking Engagements in 2021
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-start">
                        <img src="./assets/images/play.png" alt="play" />
                        <p class="ellipsis-text">20 Lessons</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-end">
                        <img src="./assets/images/guide.png" alt="guide" />
                        <p class="ellipsis-text">Guided Course</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <div class="compare-section">
                      <img
                        src="./assets/images/addcompare.png"
                        alt="addcompare"
                      />
                      <h5>Add to compare</h5>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <div class="coursecard-footer">
                      <img src="./assets/images/star0.png" alt="Star" />
                      <p class="review-text">
                        <b>0 &nbsp; Reviews</b>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <a
                      class="d-flex justify-content-end"
                      href="javascript:void(0);"
                    >
                      <img
                        src="./assets/images/reviewArrow.png"
                        alt="reviewArrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="card ed-card tooltip" title="">
              <button class="wishlist-section">
                <img src="./assets/images/bookmark.png" alt="bookmark" />
              </button>
              <div class="card-body">
                <div class="course-banner">
                  <img
                    class="img-fluid"
                    src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                    alt="Book Paid Speaking Engagements in 2021"
                  />
                </div>
                <div class="row pt-2">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="course-provider-logo"
                      src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                      alt="course-provider"
                    />
                  </div>
                  <div class="col-6">
                    <h5 class="course-price">$ 19.99</h5>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <a href="javascript:void(0);">
                      <h4 class="ed-card-title">
                        Book Paid Speaking Engagements in 2021
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-start">
                        <img src="./assets/images/play.png" alt="play" />
                        <p class="ellipsis-text">20 Lessons</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-end">
                        <img src="./assets/images/guide.png" alt="guide" />
                        <p class="ellipsis-text">Guided Course</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <div class="compare-section">
                      <img
                        src="./assets/images/addcompare.png"
                        alt="addcompare"
                      />
                      <h5>Add to compare</h5>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <div class="coursecard-footer">
                      <img src="./assets/images/star0.png" alt="Star" />
                      <p class="review-text">
                        <b>0 &nbsp; Reviews</b>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <a
                      class="d-flex justify-content-end"
                      href="javascript:void(0);"
                    >
                      <img
                        src="./assets/images/reviewArrow.png"
                        alt="reviewArrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="card ed-card tooltip">
              <button class="wishlist-section">
                <img src="./assets/images/bookmark.png" alt="bookmark" />
              </button>
              <div class="card-body">
                <div class="course-banner">
                  <img
                    class="img-fluid"
                    src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                    alt="Book Paid Speaking Engagements in 2021"
                  />
                </div>
                <div class="row pt-2">
                  <div class="col-6 d-flex align-items-center">
                    <img
                      class="course-provider-logo"
                      src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                      alt="course-provider"
                    />
                  </div>
                  <div class="col-6">
                    <h5 class="course-price">$ 19.99</h5>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col">
                    <a href="javascript:void(0);">
                      <h4 class="ed-card-title course-title">
                        Book Paid Speaking Engagements in 2021
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-start">
                        <img src="./assets/images/play.png" alt="play" />
                        <p class="ellipsis-text">20 Lessons</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-overview">
                      <div class="d-flex justify-content-end">
                        <img src="./assets/images/guide.png" alt="guide" />
                        <p class="ellipsis-text">Guided Course</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col">
                    <div class="compare-section">
                      <img
                        src="./assets/images/addcompare.png"
                        alt="addcompare"
                      />
                      <h5>Add to compare</h5>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="col d-flex align-items-center">
                    <div class="coursecard-footer">
                      <img src="./assets/images/star0.png" alt="Star" />
                      <p class="review-text">
                        <b>0 &nbsp; Reviews</b>
                      </p>
                    </div>
                  </div>
                  <div class="col-3">
                    <a
                      class="d-flex justify-content-end"
                      href="javascript:void(0);"
                    >
                      <img
                        src="./assets/images/reviewArrow.png"
                        alt="reviewArrow"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="community-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="community-divison">
          <p class="community-heading">
            <span class="community-global-icon">
              <img
                class="img-fluid"
                src="./assets/images/circle icon.png"
                alt="Community Global Icon"
              />
            </span>
            <span class="theme-color-text">Join the Community</span>
          </p>
          <p class="community-heading">
            of more than <span class="theme-color-text">125000</span>+ Online
            Courses
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="community-divison">
          <p class="community-caption">
            We collaborate with 200+ leading universities and companies
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="brand-section">
          <div class="card">
            <img src="./assets/images/google.png" alt="" class="brand-image" />
          </div>
          <div class="card">
            <img src="./assets/images/ibm.png" alt="" class="brand-image" />
          </div>
          <div class="card">
            <img src="./assets/images/duke.png" alt="" class="brand-image" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="feature-in-header">Featured In</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/hindustan.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/toi.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/hd.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/guardian.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
