<section class="landing-page-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="landing-page-banner">
          <div class="row banner-content">
            <div class="col-sm-12 col-md-8 col-lg-6">
              <h1 class="landing-page-text">
                Learn From<br /><span class="theme-color-text"
                  >THE WORLD's BEST.</span
                >
              </h1>
              <p>What do you like to learn?</p>
              <div class="banner-input-box">
                <form>
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Search your course...."
                  />
                  <button type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="choose-compare-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="landing-page">
          Edhub helps you choose &amp; compare the best course from global
          Ed-tech leaders like Udemy, Coursera, Skillshare, Linkedin Learning
          &amp; many more.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3 ms-lg-auto">
        <div class="feature">
          <div class="feature-anim-icon">
            <div class="feature-icon">
              <img
                src="./assets/images/icon1.png"
                class="card-img-top"
                alt="Browe Icon"
              />
            </div>
          </div>
          <div class="p-2">
            <h5 class="card-title">BROWSE</h5>
            <p class="card-text ragular-text-125">
              Search from the world's best courses
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 d-none d-lg-block position-relative">
        <img
          src="./assets/images/Arrow1.png"
          class="card-img-top"
          alt="Arrow"
        />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="feature">
          <div class="feature-anim-icon">
            <div class="feature-icon">
              <img
                src="./assets/images/icon2.png"
                class="card-img-top"
                alt="Analyze & Compare Icon"
              />
            </div>
          </div>
          <div class="p-2">
            <h5 class="card-title">ANALYZE AND COMPARE</h5>
            <p class="card-text ragular-text-125">
              Find your Perfect course among thousands of others
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-1 d-none d-lg-block position-relative">
        <img
          src="./assets/images/Arrow2.png"
          class="card-img-top"
          alt="Arrow"
        />
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3 me-lg-auto">
        <div class="feature">
          <div class="feature-anim-icon">
            <div class="feature-icon">
              <img
                src="./assets/images/icon3.png"
                class="card-img-top"
                alt="Up Skill Icon"
              />
            </div>
          </div>
          <div class="p-2">
            <h5 class="card-title">UPSKILL</h5>
            <p class="card-text ragular-text-125">
              Get certified & Reward your brain with an extra skill
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-container *ngFor="let slide of sliders">
  <section class="popular-choice-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h3 class="pc-sec-heading landing-page">{{ slide.Name }}</h3>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 d-none d-md-block">
          <button
            [routerLink]="['technology', slide.id]"
            class="btn common-button btn-primary-theme"
          >
            View All
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p class="pc-sec-caption">{{ slide.Description }}</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 d-sm-block d-md-none">
          <button type="button" class="btn common-button btn-primary-theme">
            View All
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="course-slider">
            <ng-container *ngFor="let data of slide.lpcat_courses">
              <div class="my-4 mx-3">
                <app-product
                  [product]="data.course"
                  (addWishlist)="data.course.wish_list = data.course.id"
                  (addCompare)="data.course.compare_list = data.course.id"
                  (removeWishlist)="data.course.wish_list = null"
                  (removeCompare)="data.course.compare_list = null"
                ></app-product>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<section class="community-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="community-divison">
          <p class="community-heading">
            <span class="community-global-icon">
              <img
                class="img-fluid"
                src="./assets/images/circle icon.png"
                alt="Community Global Icon"
              />
            </span>
            <span class="theme-color-text">Join the Community</span>
          </p>
          <p class="community-heading">
            of more than <span class="theme-color-text">125000</span>+ Online
            Courses
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="community-divison">
          <p class="community-caption">
            We collaborate with 200+ leading universities and companies
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="brand-section">
          <div class="card">
            <img src="./assets/images/google.png" alt="" class="brand-image" />
          </div>
          <div class="card">
            <img src="./assets/images/ibm.png" alt="" class="brand-image" />
          </div>
          <div class="card justify-content-center">
            <img src="./assets/images/duke.png" alt="" class="brand-image" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h4 class="feature-in-header">Featured In</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/hindustan.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/toi.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/hd.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 col-lg-3">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img
              class="img-fluid"
              src="./assets/images/guardian.png"
              alt="hindustan"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
