<div class="card wishlist-card-group">
  <div class="card-body px-5 py-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card ed-card">
          <button class="delete-section">
            <img src="./assets/images/cross.png" alt="bookmark" />
          </button>
          <div class="card-body">
            <div class="course-banner">
              <img
                class="img-fluid"
                src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                alt="Book Paid Speaking Engagements in 2021"
              />
            </div>
            <div class="row pt-3">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="course-provider-logo"
                  src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                  alt="course-provider"
                />
              </div>
              <div class="col-6">
                <h5 class="course-price">$ 19.99</h5>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                <a href="javascript:void(0);">
                  <h4 class="ed-card-title ellipsis-text-two-line course-title">
                    Book Paid Speaking Engagements in 2021
                  </h4>
                </a>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="compare-section">
                  <img src="./assets/images/addcompare.png" alt="addcompare" />
                  <h5>Add to compare</h5>
                </div>
              </div>
            </div>
            <hr class="mb-2" />
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-light btn-fluid mb-2">
                  Add to Cart
                </button>
                <button type="button" class="btn btn-primary-theme btn-fluid">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card ed-card">
          <button class="delete-section">
            <img src="./assets/images/cross.png" alt="bookmark" />
          </button>
          <div class="card-body">
            <div class="course-banner">
              <img
                class="img-fluid"
                src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                alt="Book Paid Speaking Engagements in 2021"
              />
            </div>
            <div class="row pt-3">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="course-provider-logo"
                  src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                  alt="course-provider"
                />
              </div>
              <div class="col-6">
                <h5 class="course-price">$ 19.99</h5>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                <a href="javascript:void(0);">
                  <h4 class="ed-card-title ellipsis-text-two-line course-title">
                    Book Paid Speaking Engagements in 2021
                  </h4>
                </a>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="compare-section">
                  <img src="./assets/images/addcompare.png" alt="addcompare" />
                  <h5>Add to compare</h5>
                </div>
              </div>
            </div>
            <hr class="mb-2" />
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-light btn-fluid mb-2">
                  Add to Cart
                </button>
                <button type="button" class="btn btn-primary-theme btn-fluid">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card ed-card">
          <button class="delete-section">
            <img src="./assets/images/cross.png" alt="bookmark" />
          </button>
          <div class="card-body">
            <div class="course-banner">
              <img
                class="img-fluid"
                src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                alt="Book Paid Speaking Engagements in 2021"
              />
            </div>
            <div class="row pt-3">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="course-provider-logo"
                  src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                  alt="course-provider"
                />
              </div>
              <div class="col-6">
                <h5 class="course-price">$ 19.99</h5>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                <a href="javascript:void(0);">
                  <h4 class="ed-card-title ellipsis-text-two-line course-title">
                    Book Paid Speaking Engagements in 2021
                  </h4>
                </a>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="compare-section">
                  <img src="./assets/images/addcompare.png" alt="addcompare" />
                  <h5>Add to compare</h5>
                </div>
              </div>
            </div>
            <hr class="mb-2" />
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-light btn-fluid mb-2">
                  Add to Cart
                </button>
                <button type="button" class="btn btn-primary-theme btn-fluid">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card ed-card">
          <button class="delete-section">
            <img src="./assets/images/cross.png" alt="bookmark" />
          </button>
          <div class="card-body">
            <div class="course-banner">
              <img
                class="img-fluid"
                src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                alt="Book Paid Speaking Engagements in 2021"
              />
            </div>
            <div class="row pt-3">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="course-provider-logo"
                  src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                  alt="course-provider"
                />
              </div>
              <div class="col-6">
                <h5 class="course-price">$ 19.99</h5>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                <a href="javascript:void(0);">
                  <h4 class="ed-card-title ellipsis-text-two-line course-title">
                    Book Paid Speaking Engagements in 2021
                  </h4>
                </a>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="compare-section">
                  <img src="./assets/images/addcompare.png" alt="addcompare" />
                  <h5>Add to compare</h5>
                </div>
              </div>
            </div>
            <hr class="mb-2" />
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-light btn-fluid mb-2">
                  Add to Cart
                </button>
                <button type="button" class="btn btn-primary-theme btn-fluid">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card ed-card">
          <button class="delete-section">
            <img src="./assets/images/cross.png" alt="bookmark" />
          </button>
          <div class="card-body">
            <div class="course-banner">
              <img
                class="img-fluid"
                src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                alt="Book Paid Speaking Engagements in 2021"
              />
            </div>
            <div class="row pt-3">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="course-provider-logo"
                  src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                  alt="course-provider"
                />
              </div>
              <div class="col-6">
                <h5 class="course-price">$ 19.99</h5>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                <a href="javascript:void(0);">
                  <h4 class="ed-card-title ellipsis-text-two-line course-title">
                    Book Paid Speaking Engagements in 2021
                  </h4>
                </a>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="compare-section">
                  <img src="./assets/images/addcompare.png" alt="addcompare" />
                  <h5>Add to compare</h5>
                </div>
              </div>
            </div>
            <hr class="mb-2" />
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-light btn-fluid mb-2">
                  Add to Cart
                </button>
                <button type="button" class="btn btn-primary-theme btn-fluid">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card ed-card">
          <button class="delete-section">
            <img src="./assets/images/cross.png" alt="bookmark" />
          </button>
          <div class="card-body">
            <div class="course-banner">
              <img
                class="img-fluid"
                src="https://img-c.udemycdn.com/course/480x270/3847440_86ae.jpg"
                alt="Book Paid Speaking Engagements in 2021"
              />
            </div>
            <div class="row pt-3">
              <div class="col-6 d-flex align-items-center">
                <img
                  class="course-provider-logo"
                  src="https://www.udemy.com/staticx/udemy/images/v7/logo-udemy.svg"
                  alt="course-provider"
                />
              </div>
              <div class="col-6">
                <h5 class="course-price">$ 19.99</h5>
              </div>
            </div>
            <div class="row pt-2">
              <div class="col">
                <a href="javascript:void(0);">
                  <h4 class="ed-card-title ellipsis-text-two-line course-title">
                    Book Paid Speaking Engagements in 2021
                  </h4>
                </a>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <div class="compare-section">
                  <img src="./assets/images/addcompare.png" alt="addcompare" />
                  <h5>Add to compare</h5>
                </div>
              </div>
            </div>
            <hr class="mb-2" />
            <div class="row">
              <div class="col-12">
                <button type="button" class="btn btn-light btn-fluid mb-2">
                  Add to Cart
                </button>
                <button type="button" class="btn btn-primary-theme btn-fluid">
                  Buy Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
