.delete-section {
  position: absolute;
  background: #fff;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%), 0 0.125em 0.5em rgb(0 0 0 / 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: -1.25rem;
  right: -1.05rem;
}
