<div class="card course-card-group">
  <div class="card-body p-4">
    <div class="row">
      <div class="col-12">
        <div class="card cdc-card">
          <div class="p-4">
            <div class="row">
              <div class="col-2">
                <img
                  class="img-fluid"
                  src="./assets/images/cart1.png"
                  alt="Course Image"
                />
              </div>
              <div class="col-10">
                <div class="profile-course-detail">
                  <h5 class="pcd-title ellipsis-text-two-line">
                    The complete Android R + Java The complete Android R omplete
                    Android R + Java Developer Course<sup>TM</sup> : 2021
                  </h5>
                  <p class="pcd-course-by">
                    Course by : <b>Dr. Makn vjyvhj</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card cdc-card">
          <div class="p-4">
            <div class="row">
              <div class="col-2">
                <img
                  class="img-fluid"
                  src="./assets/images/cart1.png"
                  alt="Course Image"
                />
              </div>
              <div class="col-10">
                <div class="profile-course-detail">
                  <h4 class="pcd-title ellipsis-text-two-line">
                    The complete Android R + Java The complete Android R omplete
                    Android R + Java Developer Course<sup>TM</sup> : 2021
                  </h4>
                  <p class="pcd-course-by">
                    Course by : <b>Dr. Makn vjyvhj</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card cdc-card">
          <div class="p-4">
            <div class="row">
              <div class="col-2">
                <img
                  class="img-fluid"
                  src="./assets/images/cart1.png"
                  alt="Course Image"
                />
              </div>
              <div class="col-10">
                <div class="profile-course-detail">
                  <h4 class="pcd-title ellipsis-text-two-line">
                    The complete Android R + Java The complete Android R omplete
                    Android R + Java Developer Course<sup>TM</sup> : 2021
                  </h4>
                  <p class="pcd-course-by">
                    Course by : <b>Dr. Makn vjyvhj</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
