<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md bg-light ed-navbar fixed-top">
    <!-- if dev wants to fixed top header add "fixed-top" class with navbar -->
    <div class="container position-relative">
      <a class="navbar-brand" href="/">
        <img src="./assets/images/edhub.png" alt="Eduhub" />
      </a>
      <ul class="nav ms-auto ed-bookmark">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);">
            <img
              width="32px"
              class="img-fluid"
              src="./assets/images/bookmark.png"
              alt="bookmark"
            />
          </a>
        </li>
      </ul>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" id="myDropdown">
            <a
              href="javascript:void(0);"
              class="btn btn-primary-theme px-3 dropdown-toggle"
              data-bs-toggle="dropdown"
              >Courses</a
            >
            <ul class="dropdown-menu" *ngIf="categories?.length">
              <ng-container *ngFor="let category of categories">
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <span class="flex-fill">{{ category.name }}</span>
                    <i class="fas fa-chevron-right"></i>
                  </a>
                  <ul
                    class="submenu dropdown-menu"
                    *ngIf="category.course_sub_categories?.length"
                  >
                    <ng-container
                      *ngFor="let subcategory of category.course_sub_categories"
                    >
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">
                          <span class="flex-fill">{{ subcategory.name }}</span>
                          <i class="fas fa-chevron-right"></i>
                        </a>
                        <ul
                          class="submenu dropdown-menu"
                          *ngIf="subcategory.course_topics?.length"
                        >
                          <ng-container
                            *ngFor="
                              let coursetopics of subcategory.course_topics
                            "
                          >
                            <li>
                              <a
                                class="dropdown-item"
                                href="javascript:void(0);"
                              >
                                <span class="flex-fill">{{
                                  coursetopics.name
                                }}</span>
                              </a>
                            </li>
                          </ng-container>
                        </ul>
                      </li>
                    </ng-container>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </li>
        </ul>
        <div class="header-search-form-container">
          <form class="d-flex flex-column header-search-from px-3">
            <input
              [formControl]="search"
              class="form-control search-input"
              type="search"
              placeholder="Search"
              aria-label="Search"
              (focus)="isFocused.next(true)"
              (blur)="focusBlur()"
            />
            <div
              id="searchResult"
              class="search-result-list"
              *ngIf="isFocused | async"
            >
              <div class="list-group" *ngIf="searchData | async as data">
                <ng-container *ngFor="let category of data.category">
                  <a href="javascript:void(0);" class="list-group-item">
                    <div class="list-content">
                      <span class="list-icon">
                        <i class="fas fa-search"></i>
                      </span>
                      <div class="list-course-detail">
                        <h6 class="list-item-course-title ellipsis-text">
                          {{ category.course_category.name }}
                        </h6>
                        <p class="course-author-details text-secondary">
                          <b
                            >Subject with
                            {{ category.course_category.course_count || 0 }}
                            courses</b
                          >
                        </p>
                      </div>
                    </div>
                  </a>
                </ng-container>
                <ng-container *ngFor="let course of data.data">
                  <a href="javascript:void(0);" class="list-group-item">
                    <div class="list-content">
                      <span class="list-course-icon">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/en/e/e9/Crash_Course_logo.png"
                          alt="Course Short Title"
                        />
                      </span>
                      <div class="list-course-detail">
                        <h6 class="list-item-course-title ellipsis-text">
                          {{ course.title }}
                        </h6>
                        <p class="course-author-details text-secondary">
                          <b>{{ course.course_provider.name }}</b>
                        </p>
                      </div>
                    </div>
                  </a>
                </ng-container>
              </div>
            </div>
          </form>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              href="javascript:void(0);"
              class="nav-link ed-nav-item dropdown-toggle"
              data-bs-toggle="dropdown"
              >Govt. Jobs</a
            >
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="/govermentjobs">Govt Jobs</a>
              </li>
              <li>
                <a class="dropdown-item" href="/questionpaper"
                  >Question Paper</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/exam/calendar">Exam Calendar</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link ed-nav-item">News</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0);" class="nav-link ed-nav-item">Blogs</a>
          </li>
          <li class="nav-item ed-menu-bookmark">
            <a class="nav-link" href="javascript:void(0);">
              <img
                width="32px"
                class="img-fluid"
                src="./assets/images/bookmark.png"
                alt="bookmark"
              />
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ed-nav">
          <li class="nav-item">
            <button
              class="btn btn-primary-theme"
              data-bs-toggle="modal"
              data-bs-target=".login-popup"
            >
              Login
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
