<div class="product-banner">
  <div class="product-banner-info"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="row py-4">
          <div class="col-12">
            <div class="row" *ngIf="courseDetails?.certification == '1'">
              <div class="col-12">
                <div class="certification-badge">
                  <p class="ragular-text_1">
                    <i class="fa fa-award me-3"></i>Certification Available
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h2 class="pd-course-title ragular-text-150">
                  {{ courseDetails?.title }}
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="pd-course-by ragular-text_1 mb-2">
                  Course {{ courseDetails?.subtitle }}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <p class="pd-course-subtitles ragular-text_1 mb-2">Subtitles</p>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <p class="pd-course-language ragular-text-125 mb-3">
                      <b>{{ courseDetails?.locale }}</b>
                    </p>
                  </div>
                  <div
                    class="col-6 text-end"
                    *ngIf="courseDetails?.course_provider?.image"
                  >
                    <button type="button" class="btn btn-light">
                      <img
                        src="{{ serverUrl }}/{{
                          courseDetails?.course_provider?.image
                        }}"
                        class="img-fluid max-width"
                        [alt]="courseDetails?.course_provider?.name"
                      />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-secondary me-3">
                  Share
                </button>
                <button type="button" class="btn ed-common-blue-btn">
                  Add to Compare
                </button>
              </div>
              <div class="col-6">
                <p class="pd-course-subtitles ragular-text_1 mb-2 text-end">
                  last Update on 01/01/2021
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="row sticky-top product-details-menu">
        <div class="col-12 pt-2">
          <ul
            class="nav nav-tabs product-details-tab-pane"
            id="myTab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="about-tab"
                data-bs-toggle="tab"
                data-bs-target="#about"
                type="button"
                role="tab"
                aria-controls="about"
                aria-selected="true"
              >
                <span class="ragular-text_1">About</span>
                <span class="active-tab"></span>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="course-content-tab"
                data-bs-toggle="tab"
                data-bs-target="#course-content"
                type="button"
                role="tab"
                aria-controls="course-content"
                aria-selected="false"
              >
                <span class="ragular-text_1">Course Content</span>
                <span class="active-tab"></span>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="prerequisties-tab"
                data-bs-toggle="tab"
                data-bs-target="#prerequisties"
                type="button"
                role="tab"
                aria-controls="prerequisties"
                aria-selected="false"
              >
                <span class="ragular-text_1">Prerequisties</span>
                <span class="active-tab"></span>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="instrutortab"
                data-bs-toggle="tab"
                data-bs-target="#instrutor"
                type="button"
                role="tab"
                aria-controls="instrutor"
                aria-selected="false"
              >
                <span class="ragular-text_1">Instrutor</span>
                <span class="active-tab"></span>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="reviews-tab"
                data-bs-toggle="tab"
                data-bs-target="#reviews"
                type="button"
                role="tab"
                aria-controls="reviews"
                aria-selected="false"
              >
                <span class="ragular-text_1">Reviews</span>
                <span class="active-tab"></span>
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="faqs-tab"
                data-bs-toggle="tab"
                data-bs-target="#faqs"
                type="button"
                role="tab"
                aria-controls="faqs"
                aria-selected="false"
              >
                <span class="ragular-text_1">FAQs</span>
                <span class="active-tab"></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-2">
          <div class="tab-content profile-detail-tab" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="about"
              role="tabpanel"
              aria-labelledby="about-tab"
            >
              <div class="card rounded-4 mb-4">
                <div class="card-body px-5 py-4">
                  <div class="row mb-3">
                    <div class="col-12 mb-2">
                      <h2 class="ragular-text-150">Skills you will gain</h2>
                    </div>
                    <div class="col-12">
                      <span
                        class="
                          badge
                          bg-warning
                          text-dark
                          me-3
                          px-4
                          py-3
                          rounded-4
                        "
                        >Web Development</span
                      >
                      <span
                        class="
                          badge
                          bg-warning
                          text-dark
                          me-3
                          px-4
                          py-3
                          rounded-4
                        "
                        >Web Development</span
                      >
                      <span
                        class="
                          badge
                          bg-warning
                          text-dark
                          me-3
                          px-4
                          py-3
                          rounded-4
                        "
                        >Web Development</span
                      >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-12 mb-2">
                      <h2 class="ragular-text-150">Learner's career outcome</h2>
                    </div>
                    <div class="col-12">
                      <span
                        class="badge bg-light me-3"
                        *ngFor="let outcome of courseDetails?.outcome"
                      >
                        <div class="d-flex align-items-center">
                          <img
                            class="me-3"
                            width="36px"
                            src="./assets/images/stat1.png"
                            alt="Promotion Icon"
                          />
                          <span
                            class="
                              ragular-text-150
                              text-black
                              fw-normal
                              text-wrap
                            "
                            style="text-align: left"
                            >{{ outcome }}</span
                          >
                        </div>
                      </span>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-12 mb-2">
                      <h2 class="ragular-text-150">Skills you will gain</h2>
                    </div>
                    <div class="col-12">
                      <span
                        class="
                          badge
                          bg-warning
                          text-dark
                          me-3
                          px-4
                          py-3
                          rounded-4
                        "
                        >Web Development</span
                      >
                      <span
                        class="
                          badge
                          bg-warning
                          text-dark
                          me-3
                          px-4
                          py-3
                          rounded-4
                        "
                        >Web Development</span
                      >
                      <span
                        class="
                          badge
                          bg-warning
                          text-dark
                          me-3
                          px-4
                          py-3
                          rounded-4
                        "
                        >Web Development</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card rounded-4 mb-4">
                <div class="card-body px-5 py-4">
                  <div class="row">
                    <div class="col-12 mb-3">
                      <h2 class="ragular-text-150">Description</h2>
                    </div>
                    <div class="col-12 mb-3">
                      <p>
                        {{ courseDetails?.description }}
                      </p>
                    </div>
                    <!-- <div class="col-12 text-center">
                      <button type="button" class="btn ed-text-blue-color">
                        Read More
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="course-content"
              role="tabpanel"
              aria-labelledby="course-content-tab"
            >
              <div class="card-body px-2 pt-3">
                <div class="row">
                  <div class="col-12">
                    <h2 class="ragular-text-150 mb-0">Course Content</h2>
                  </div>
                  <div class="col-12">
                    <p class="ed-text-red-color ragular-text_1 mb-0">
                      41 sections - 692 lectures - 173h 31m total
                    </p>
                  </div>
                </div>
              </div>
              <div
                class="accordion course-content-accordion"
                id="courseContentAccordion"
              >
                <div class="card rounded-4 mb-3">
                  <div class="card-body">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button
                          class="
                            accordion-button
                            justify-content-between
                            collapsed
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne"
                          aria-expanded="false"
                          aria-controls="flush-collapseOne"
                        >
                          <span class="me-auto">Section Length</span>
                          <span
                            class="total-time-duration ed-text-light-gray-color"
                            >Section Length</span
                          >
                        </button>
                      </h2>
                      <div
                        id="flush-collapseOne"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingOne"
                        data-bs-parent="#courseContentAccordion"
                      >
                        <div class="accordion-body">
                          <ul class="list-group">
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card rounded-4 mb-3">
                  <div class="card-body">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button
                          class="
                            accordion-button
                            justify-content-between
                            collapsed
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseTwo"
                          aria-expanded="false"
                          aria-controls="flush-collapseTwo"
                        >
                          <span class="me-auto">Sections Title</span>
                          <span
                            class="total-time-duration ed-text-light-gray-color"
                            >Section Length</span
                          >
                        </button>
                      </h2>
                      <div
                        id="flush-collapseTwo"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwo"
                        data-bs-parent="#courseContentAccordion"
                      >
                        <div class="accordion-body">
                          <ul class="list-group">
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card rounded-4 mb-3">
                  <div class="card-body">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button
                          class="
                            accordion-button
                            justify-content-between
                            collapsed
                          "
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseThree"
                          aria-expanded="false"
                          aria-controls="flush-collapseThree"
                        >
                          <span class="me-auto">Sections Title</span>
                          <span
                            class="total-time-duration ed-text-light-gray-color"
                            >Section Length</span
                          >
                        </button>
                      </h2>
                      <div
                        id="flush-collapseThree"
                        class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree"
                        data-bs-parent="#courseContentAccordion"
                      >
                        <div class="accordion-body">
                          <ul class="list-group">
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                            <li
                              class="
                                list-group-item
                                d-flex
                                justify-content-between
                                align-items-center
                              "
                            >
                              <span>
                                <img
                                  class="me-3"
                                  width="16px"
                                  src="./assets/images/blue_play.png"
                                  alt=""
                                />
                                A list item
                              </span>
                              <span class="badge ed-text-red-color">02:11</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="prerequisties"
              role="tabpanel"
              aria-labelledby="prerequisties-tab"
            >
              <div class="prerequisties-tab-panel">
                <div class="card-body px-1">
                  <div class="row">
                    <div class="col-12">
                      <h2 class="ragular-text-150 mb-0">Prerequisties</h2>
                    </div>
                  </div>
                </div>
                <div class="card-body px-0 py-1">
                  <ul class="list-group">
                    <ng-container
                      *ngFor="let item of courseDetails?.prerequisites"
                    >
                      <li
                        class="
                          list-group-item
                          d-flex
                          justify-content-between
                          align-items-center
                          px-0
                        "
                      >
                        <span>
                          <img
                            class="me-2"
                            width="16px"
                            src="./assets/images/red-dot.png"
                            alt=""
                          />
                          {{ item }}
                        </span>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="instrutor"
              role="tabpanel"
              aria-labelledby="instrutor-tab"
            >
              <div class="instrutor-tab-panel">
                <div class="card rounded-4 mb-3">
                  <div class="card-body px-5 py-4">
                    <div class="row mb-3">
                      <div class="col-12">
                        <h2 class="ragular-text-150">Instructor</h2>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-12 mb-2">
                        <div class="row mb-3">
                          <div class="col-12">
                            <h5 class="mb-0">Instructor Name</h5>
                          </div>
                          <div class="col-12">
                            <p class="mb-0">Instructor caption line</p>
                          </div>
                        </div>
                        <div class="row mb-4">
                          <div class="col-3">
                            <img src="./assets/images/instructor.png" alt="" />
                          </div>
                          <div class="col-9">
                            <ul class="list-group">
                              <li
                                class="
                                  list-group-item
                                  d-flex
                                  justify-content-between
                                  align-items-center
                                "
                              >
                                <span>
                                  <img
                                    class="me-3"
                                    width="16px"
                                    src="./assets/images/red-dot.png"
                                    alt=""
                                  />
                                  A list item
                                </span>
                              </li>
                              <li
                                class="
                                  list-group-item
                                  d-flex
                                  justify-content-between
                                  align-items-center
                                "
                              >
                                <span>
                                  <img
                                    class="me-3"
                                    width="16px"
                                    src="./assets/images/red-dot.png"
                                    alt=""
                                  />
                                  A list item
                                </span>
                              </li>
                              <li
                                class="
                                  list-group-item
                                  d-flex
                                  justify-content-between
                                  align-items-center
                                "
                              >
                                <span>
                                  <img
                                    class="me-3"
                                    width="16px"
                                    src="./assets/images/red-dot.png"
                                    alt=""
                                  />
                                  A list item
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <p class="ragular-text_1">
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Quisque nec sem massa. Donec placerat purus
                              vel enim convallis, id finibus turpis condimentum.
                              Vestibulum auctor eros pharetra, blandit ipsum et,
                              vulputate lectus. Vestibulum sed mi nec magna
                              dictum venenatis et eu dolor. Nam commodo augue in
                              massa pulvinar iaculis. Nulla facilisi. Quisque
                              purus magna, varius id volutpat sed, posuere id
                              ipsum. Suspendisse venenatis lectus sit amet urna
                              imperdiet, eget convallis elit convallis. Proin
                              convallis turpis ornare augue aliquet euismod. Sed
                              nec odio non felis tempor convallis ac sed purus.
                              Aliquam sed interdum eros, nec ultricies felis.
                              Nulla facilisi. Sed vitae suscipit metus. Duis
                              tempor, erat ut ornare viverra, arcu massa
                              tincidunt purus, ullamcorper lobortis nisl mi
                              vitae augue. Aenean mollis enim sed odio
                              ultricies, in aliquam ex convallis. Aenean
                              dignissim, elit et lacinia pretium, purus lacus
                              maximus velit, in tempus justo elit non purus.
                              Donec risus ante, mattis id ante vel, aliquam
                              auctor tellus. Vivamus eleifend accumsan ligula
                              nec scelerisque. Nam a aliquam metus. Donec
                              bibendum porttitor erat, nec facilisis lacus
                              cursus ac. Nullam aliquet dui at efficitur
                              pretium. Maecenas auctor dignissim eros a porta.
                              Sed vestibulum, eros in bibendum facilisis, ante
                              ante tincidunt enim, a iaculis arcu lectus in
                              nulla. Pellentesque a feugiat augue, rutrum
                              rhoncus sapien. Nam vestibulum, orci et porttitor
                              pellentesque, lorem nunc sollicitudin felis, non
                              pellentesque urna ante at lectus. Nullam consequat
                              pellentesque lectus, id commodo purus fermentum a.
                              In volutpat sed dolor id ultricies. Nulla ut
                              rutrum est. In nunc tortor, porta vitae maximus
                              quis, venenatis tempus eros. Sed at tellus odio.
                              Quisque dapibus dui id ligula rutrum vestibulum.
                              Morbi in risus enim. Cras finibus cursus nisi eget
                              condimentum. Donec placerat nunc ac aliquam
                              rutrum. In sodales augue id orci dignissim, eu
                              ullamcorper enim vehicula. Nullam tristique magna
                              est, id pretium tellus dictum vel.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="reviews"
              role="tabpanel"
              aria-labelledby="reviews-tab"
            >
              <div class="review-tab-panel">
                <div class="row mb-4">
                  <div class="col-12">
                    <h2 class="ragular-text-150 mb-0">Review</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-3">
                    <h1>{{ courseDetails?.rating }}</h1>
                    <div _ngcontent-pft-c59="" class="rating-stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <p class="ragular-text-125">Course Rating</p>
                  </div>
                  <div class="col-9">
                    <div class="row">
                      <div class="col-9">
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 15%"
                            aria-valuenow="0"
                            aria-valuemin="25"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-between">
                          <div _ngcontent-pft-c59="" class="rating-stars">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                          <span>50%</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 25%"
                            aria-valuenow="25"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-between">
                          <div _ngcontent-pft-c59="" class="rating-stars">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                          <span>50%</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 50%"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-between">
                          <div _ngcontent-pft-c59="" class="rating-stars">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                          <span>50%</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 75%"
                            aria-valuenow="75"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-between">
                          <div _ngcontent-pft-c59="" class="rating-stars">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                          <span>50%</span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="progress">
                          <div
                            class="progress-bar bg-warning"
                            role="progressbar"
                            style="width: 100%"
                            aria-valuenow="100"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="d-flex justify-content-between">
                          <div _ngcontent-pft-c59="" class="rating-stars">
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                          </div>
                          <span>50%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="faqs"
              role="tabpanel"
              aria-labelledby="faqs-tab"
            >
              <div class="faqs-tab-panel">
                <ng-container
                  *ngFor="let faq of courseDetails?.faq; index as i"
                >
                  <div class="card rounded-4 mb-3">
                    <div
                      class="card-header px-4 py-3 c-pointer"
                      data-bs-toggle="collapse"
                      [attr.data-bs-target]="'#collapse_' + i"
                    >
                      <div class="d-flex">
                        <span>
                          <i
                            class="fa fa-chevron-right ed-text-red-color me-3"
                          ></i>
                          <span class="hn-medium">{{ faq.question }}</span>
                        </span>
                      </div>
                    </div>
                    <div class="collapse" id="collapse_{{ i }}">
                      <div class="card-body px-4 py-3">
                        {{ faq.answer }}
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="row sticky-top product-details-card">
        <div class="col-12">
          <div class="card ed-card">
            <button class="wishlist-section">
              <img src="./assets/images/bookmark.png" alt="bookmark" />
            </button>
            <div class="card-body">
              <div class="course-banner">
                <img
                  class="fix-image img-fluid"
                  src="{{ courseDetails?.image }}"
                  onerror="this.src='https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081'"
                  [alt]="courseDetails?.title"
                />
              </div>
              <div class="row pt-2">
                <div class="col-12 d-flex align-items-center">
                  <h5 class="course-price">
                    {{ courseDetails?.price | currency: "INR" }}
                  </h5>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col-12 d-flex align-items-center">
                  <p class="ed-text-red-color">
                    Get <b>5% extra cashback</b> if you buy through us
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 d-flex align-items-center pe-0">
                  <div class="coursecard-footer">
                    <div class="rating-stars">
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                      <i class="far fa-star"></i>
                    </div>
                    <p class="review-text">
                      <b>course</b>
                    </p>
                  </div>
                </div>
              </div>
              <div class="row pt-2">
                <div class="col">
                  <a href="javascript:void(0);">
                    <h4 class="text-dark ragular-text_1 ellipsis-text-two-line">
                      {{ courseDetails?.title }}
                    </h4>
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <p class="ragular-text_1 mb-2">Powered By...</p>
                </div>
                <div class="col-12">
                  <button type="button" class="btn btn-light">
                    <img src="./assets/images/udemy.png" alt="Provider Icon" />
                  </button>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-12">
                  <ul class="list-group pb-3">
                    <li
                      class="
                        list-group-item
                        d-flex
                        justify-content-between
                        align-items-center
                        px-0
                      "
                    >
                      <span>
                        <img
                          class="me-2"
                          width="16px"
                          src="./assets/images/red-dot.png"
                          alt=""
                        />
                        A list item
                      </span>
                    </li>
                    <li
                      class="
                        list-group-item
                        d-flex
                        justify-content-between
                        align-items-center
                        px-0
                      "
                    >
                      <span>
                        <img
                          class="me-2"
                          width="16px"
                          src="./assets/images/red-dot.png"
                          alt=""
                        />
                        A list item
                      </span>
                    </li>
                    <li
                      class="
                        list-group-item
                        d-flex
                        justify-content-between
                        align-items-center
                        px-0
                      "
                    >
                      <span>
                        <img
                          class="me-2"
                          width="16px"
                          src="./assets/images/red-dot.png"
                          alt=""
                        />
                        A list item
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
