<div class="card filter-panel sticky-top">
  <div class="card-header filter-header">
    <h5>Filter</h5>
  </div>
  <div class="card-body overflow-auto">
    <div class="row mb-2">
      <div class="col-12">
        <span class="filter-label">Pricing</span>
      </div>
      <div class="col-12">
        <ngx-slider
          [(value)]="minPrice"
          (userChangeEnd)="changeFilter()"
          [(highValue)]="maxPrice"
          [options]="options"
        ></ngx-slider>
      </div>
    </div>
    <div class="row">
      <div class="accordion accordion-flush open" id="CourseAccordian">
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="typeOfCourseAccordian">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#typeOfCourseAccordian-collapse"
              aria-expanded="false"
              aria-controls="typeOfCourseAccordian-collapse"
            >
              Type of Course
            </button>
          </h2>
          <div
            id="typeOfCourseAccordian-collapse"
            class="accordion-collapse collapse show"
            aria-labelledby="typeOfCourseAccordian"
            data-bs-parent="#CourseAccordian"
          >
            <div class="accordion-body">
              <div class="list-group accordion-list-group">
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  Guided Course
                </label>
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  Mentored Course
                </label>
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  Tutored Course
                </label>
              </div>
            </div>
          </div>
        </div> -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="studentsRating">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#studentsRating-collapse"
              aria-expanded="false"
              aria-controls="studentsRating-collapse"
            >
              Student's Rating
            </button>
          </h2>
          <div
            id="studentsRating-collapse"
            class="accordion-collapse collapse show"
            aria-labelledby="studentsRating"
            data-bs-parent="#CourseAccordian"
          >
            <div class="accordion-body">
              <div class="list-group accordion-list-group">
                <!-- <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="5"
                    (change)="setFilter($event, 'rating')"
                  />
                  5 *
                </label> -->
                <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="4"
                    (change)="setFilter($event, 'rating')"
                  />
                  4 * & above
                </label>
                <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="3"
                    (change)="setFilter($event, 'rating')"
                  />
                  3 * & above
                </label>
                <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="2"
                    (change)="setFilter($event, 'rating')"
                  />
                  2 * & above
                </label>
                <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="1"
                    (change)="setFilter($event, 'rating')"
                  />
                  1 * & above
                </label>
              </div>
            </div>
          </div>
        </div>
        <div
          class="accordion-item"
          *ngIf="
            filterData.providers?.length && filterData.providers as providers
          "
        >
          <h2 class="accordion-header" id="providedByAaccordion">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#providedByAaccordion-collapse"
              aria-expanded="false"
              aria-controls="providedByAaccordion-collapse"
            >
              Provided by
            </button>
          </h2>
          <div
            id="providedByAaccordion-collapse"
            class="accordion-collapse collapse show"
            aria-labelledby="providedByAaccordion"
            data-bs-parent="#CourseAccordian"
          >
            <div class="accordion-body">
              <div class="list-group accordion-list-group">
                <label
                  class="list-group-item"
                  *ngFor="let provider of providers"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="provider.id"
                    (change)="setFilter($event, 'course_provider')"
                  />
                  <!-- {{ provider | json }} -->
                  {{ provider.name }}
                  <!-- <img
                    class="img-fluid"
                    style="max-width: 80px"
                    src="{{ serverurl }}/{{ provider.image }}"
                    alt="course-provider"
                  /> -->
                </label>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="accordion-item">
          <h2 class="accordion-header" id="offersDiscountsAccordian">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#offersDiscounts-collapse"
              aria-expanded="false"
              aria-controls="offersDiscounts-collapse"
            >
              Offers / Discounts
            </button>
          </h2>
          <div
            id="offersDiscounts-collapse"
            class="accordion-collapse collapse show"
            aria-labelledby="offersDiscountsAccordian"
            data-bs-parent="#CourseAccordian"
          >
            <div class="accordion-body">
              <div class="list-group accordion-list-group">
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  20% off
                </label>
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  20% off
                </label>
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  20% off
                </label>
                <label class="list-group-item">
                  <input class="form-check-input" type="checkbox" value="" />
                  20% off
                </label>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div
          class="accordion-item"
          *ngIf="
            filterData.languages?.length && filterData.languages as languages
          "
        >
          <h2 class="accordion-header" id="languageAccordian">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#languageAccordian-collapse"
              aria-expanded="false"
              aria-controls="languageAccordian-collapse"
            >
              Language
            </button>
          </h2>
          <div
            id="languageAccordian-collapse"
            class="accordion-collapse collapse show"
            aria-labelledby="languageAccordian"
            data-bs-parent="#CourseAccordian"
          >
            <div class="accordion-body">
              <div class="list-group accordion-list-group">
                <label
                  class="list-group-item"
                  *ngFor="let language of languages"
                >
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [value]="language.locale"
                    (change)="setFilter($event, 'language')"
                  />
                  {{ language.locale | titlecase }}
                </label>
              </div>
            </div>
          </div>
        </div> -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="certificationAccordian">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#certificationAccordian-collapse"
              aria-expanded="false"
              aria-controls="certificationAccordian-collapse"
            >
              Certification
            </button>
          </h2>
          <div
            id="certificationAccordian-collapse"
            class="accordion-collapse collapse show"
            aria-labelledby="certificationAccordian"
            data-bs-parent="#CourseAccordian"
          >
            <div class="accordion-body">
              <div class="list-group accordion-list-group">
                <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="1"
                    (change)="setFilter($event, 'certification')"
                  />
                  Yes
                </label>
                <label class="list-group-item">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value="0"
                    (change)="setFilter($event, 'certification')"
                  />
                  No
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
