.accordion-list-group .list-group-item {
  display: flex;
  align-items: center;
  border: none;
}
.accordion-list-group .form-check-input {
  margin: 0;
  margin-right: 0.75rem;
}
.list-group-item {
  cursor: pointer;
  font-family: var(--hn-font-light);
}

.accordion-list-group .list-group-item:hover {
  background-color: #fcfcfc;
}
.selector {
  position: relative;
  padding: 0;
  color: #505d6f;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .ngx-slider .ngx-slider-pointer {
    width: 18px !important;
    height: 18px !important;
    background: #ffffff !important;
    border: 4px solid var(--ed-blue-color);
    top: -8px !important;
  }
  .ngx-slider .ngx-slider-selection {
    background: #e9e9e9 !important;
  }
  .ngx-slider .ngx-slider-pointer:after {
    display: none !important;
  }
}
