.ed-breadcrump{
    z-index: 999;
    top: 3.9rem;
    margin: -24px;
    padding: 1.2rem 1.5rem;
    background-color: #eee;
}
.ed-breadcrump .breadcrumb{
    margin-bottom: 0;
}
.ed-breadcrump .alert{
    margin: 0;
    line-height: 1.2;
}
.breadcrumb-item + .breadcrumb-item::before{
    color: #0d6efd;
}
.result-count{
    display: inline-flex;
}
.result-count p{
    margin-bottom: 0;
}