<div class="container-fluid py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card rounded-3 course-card-group">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="ragular-text-125 hn-medium">Added Products</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card cdc-card">
                                    <div class="p-2">
                                        <div class="row justify-content-center">
                                            <div class="col-2">
                                                <img class="img-fluid" src="./assets/images/cart1.png"
                                                    alt="Course Image" />
                                            </div>
                                            <div class="col-10 d-j-c-c">
                                                <div class="profile-course-detail">
                                                    <h6 class="pcd-title hn-medium ragular-text_1 ellipsis-text-two-line">
                                                        The complete Android R + Java The complete
                                                        Android R omplete Android R + Java Developer
                                                        Course<sup>TM</sup> : 2021
                                                    </h6>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="pcd-course-by hn-light">
                                                            Course by : <b>Dr. Makn vjyvhj</b>
                                                        </p>
                                                        <button type="button" class="btn btn-sm ed-common-blue-btn">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card cdc-card">
                                    <div class="p-2">
                                        <div class="row">
                                            <div class="col-2">
                                                <img class="img-fluid" src="./assets/images/cart1.png"
                                                    alt="Course Image" />
                                            </div>
                                            <div class="col-10 d-j-c-c">
                                                <div class="profile-course-detail">
                                                    <h6 class="pcd-title hn-medium ragular-text_1 ellipsis-text-two-line">
                                                        The complete Android R + Java The complete
                                                        Android R omplete Android R + Java Developer
                                                        Course<sup>TM</sup> : 2021
                                                    </h6>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="pcd-course-by hn-light">
                                                            Course by : <b>Dr. Makn vjyvhj</b>
                                                        </p>
                                                        <button type="button" class="btn btn-sm ed-common-blue-btn">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded-3 course-card-group">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="ragular-text-125 hn-medium">People also bought together</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card cdc-card">
                                    <div class="p-2">
                                        <div class="row justify-content-center">
                                            <div class="col-2">
                                                <img class="img-fluid" src="./assets/images/cart1.png"
                                                    alt="Course Image" />
                                            </div>
                                            <div class="col-10 d-j-c-c">
                                                <div class="profile-course-detail">
                                                    <h6 class="pcd-title hn-medium ragular-text_1 ellipsis-text-two-line">
                                                        The complete Android R + Java The complete
                                                        Android R omplete Android R + Java Developer
                                                        Course<sup>TM</sup> : 2021
                                                    </h6>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="pcd-course-by hn-light">
                                                            Course by : <b>Dr. Makn vjyvhj</b>
                                                        </p>
                                                        <button type="button" class="btn btn-sm btn-primary-theme">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card cdc-card">
                                    <div class="p-2">
                                        <div class="row">
                                            <div class="col-2">
                                                <img class="img-fluid" src="./assets/images/cart1.png"
                                                    alt="Course Image" />
                                            </div>
                                            <div class="col-10 d-j-c-c">
                                                <div class="profile-course-detail">
                                                    <h6 class="pcd-title hn-medium ragular-text_1 ellipsis-text-two-line">
                                                        The complete Android R + Java The complete
                                                        Android R omplete Android R + Java Developer
                                                        Course<sup>TM</sup> : 2021
                                                    </h6>
                                                    <div class="d-flex justify-content-between">
                                                        <p class="pcd-course-by hn-light">
                                                            Course by : <b>Dr. Makn vjyvhj</b>
                                                        </p>
                                                        <button type="button" class="btn btn-sm btn-primary-theme">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="card rounded-3">
                    <div class="card-body price-details">
                        <div class="row">
                            <div class="col-12">
                                <h4 class="ragular-text-125 hn-medium">Price Detalis</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="border-top border-bottom mb-4 py-3">
                                    <div class="d-flex mb-2">
                                        <div class="w-50">
                                            <h6>Price (2 Items)</h6>
                                        </div>
                                        <div class="w-50">
                                            <p class="text-end fw-bold"><i class="fas fa-rupee-sign me-2"></i>1500</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <div class="w-50">
                                            <h6>Discount</h6>
                                        </div>
                                        <div class="w-50">
                                            <p class="text-end fw-bold ed-text-red-color">- <i class="fas fa-rupee-sign me-2"></i>1500</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mb-2">
                                        <div class="w-50">
                                            <h6>Tax and charges</h6>
                                        </div>
                                        <div class="w-50">
                                            <p class="text-end fw-bold"><i class="fas fa-rupee-sign me-2"></i>00</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex mb-4">
                                    <div class="w-50">
                                        <h5>Total Price</h5>
                                    </div>
                                    <div class="w-50">
                                        <p class="text-end fw-bold"><i class="fas fa-rupee-sign me-2"></i>0000</p>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter coupon code here"  aria-describedby="enterCouponCodeHere">
                                    <span class="input-group-text btn-primary-theme ragular-text_85 hn-medium" id="enterCouponCodeHere">Apply</span>
                                </div>
                                <button type="button" class="btn btn-primary-theme btn-fluid">Chechout Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>