<section class="footer-section-new">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-header-content">
          <b
            >Discover various online courses from top universities,<br />providers,
            and institutions</b
          >
        </div>
      </div>
    </div>
    <div class="row footer-section-row">
      <div class="footer-section-column col-12 col-md-4 col-lg-6">
        <div class="column-headings"><b> ~100+ Universities</b></div>
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <div class="footer-section-one">
              <img
                src="./assets/images/harvard.png"
                alt="harvard"
                class="footer-icons"
              />
              <p class="footer-header-name ml-2 mb-0">
                Harvard university &amp; Other top universities
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-section-column footer-col-2 col-12 col-md-4 col-lg-3">
        <div class="column-headings"><b>50+ Providers</b></div>
        <div class="footer-section-one">
          <img src="./assets/images/Vector.png" alt="Vector" />
          <p class="provider-name ml-2 mb-0">Coursera</p>
        </div>
        <div class="footer-section-one">
          <img
            src="./assets/images/udemy-icon 1.png"
            alt="Udemy"
            class="footer-icons"
          />
          <p class="provider-name ml-2 mb-0">Udemy</p>
        </div>
      </div>
      <div class="footer-section-column col-12 col-md-4 col-lg-3">
        <div class="column-headings"><b>40+ Institutions</b></div>
        <div class="footer-section-one">
          <img
            src="./assets/images/microsoft-icon 1.png"
            alt="microsoft"
            class="footer-icons"
          />
          <p class="footer-header-name ml-2 mb-0">Microsoft</p>
        </div>
        <div class="footer-section-one">
          <img
            src="./assets/images/amazon-icon 1.png"
            alt="Amazon"
            class="footer-icons"
          />
          <p class="footer-header-name ml-2 mb-0">Amazon</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="footer-course-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <h2 class="footer-course-header">Sign up to our Newsletter</h2>
        <p class="footer-course-paragraph">
          Free Ebooks - Free courses - Free Articles
        </p>
        <div class="footer-course-row row">
          <div class="col-sm-12 col-md-12">
            <form>
              <div class="form-group">
                <input
                  name="email"
                  id="exampleEmail"
                  placeholder="someone@gmail.com"
                  type="email"
                  class="footer-course-email-input form-control"
                />
                <button
                  type="submit"
                  value="submit"
                  class="footer-course-btn btn btn-secondary"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="compare-panel">
  <a class="compare-btn" href="/compare">
    <img
      class="img-fluid"
      src="./assets/images/compare-text.png"
      alt="Compare Button Text"
    />
  </a>
</div>
<div class="request-btn" data-bs-toggle="modal" data-bs-target=".request-popup">
  <img src="./assets/images/phone.png" alt="Phone icon" />
</div>

<div class="modal fade request-popup" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-3 border-bottom-0">
        <h2 class="fw-bold mb-0">Request a call back</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body p-5 pt-0">
        <p>Let us help you guide towards your career path</p>
        <form class="">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control rounded-4"
              id="userName"
              placeholder="Name"
            />
            <label for="userName">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control rounded-4"
              id="userMobileNumber"
              placeholder="Mobile Number"
            />
            <label for="userMobileNumber">Mobile Number</label>
          </div>
          <ul>
            <li class="py-2">Non-biased career guidance</li>
            <li class="py-2">
              Counselling based on your skills and preference
            </li>
            <li class="py-2">No repetitive calls, only as per convenience</li>
          </ul>
          <p><b>We will give you a call between 9 AM to 9 PM.</b></p>
          <button
            class="w-100 mb-2 btn btn-lg rounded-4 btn-primary-theme"
            type="submit"
          >
            Request a call back
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<app-login></app-login>
