<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-3 py-4">
        <div class="compare-part cp-row-1" data-parameter="type">
          <p class="ragular-text_1 mb-0">
            <b>Course Details</b>
          </p>
        </div>
        <div class="compare-part cp-row-2" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Course Rating</b></p>
        </div>
        <div class="compare-part cp-row-2" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Course Reviews</b></p>
        </div>
        <div class="compare-part cp-row-3" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Course By</b></p>
        </div>
        <!-- <div class="compare-part cp-row-4" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Job Opportunities</b></p>
        </div> -->
        <div class="compare-part cp-row-5" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Skills you will gain</b></p>
        </div>
        <div class="compare-part cp-row-6" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Certification</b></p>
        </div>
        <div class="compare-part cp-row-7" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Prerequisites</b></p>
        </div>
        <div class="compare-part cp-row-8" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Instrutor</b></p>
        </div>
        <!-- <div class="compare-part cp-row-9" data-parameter="type">
          <p class="ragular-text_1 mb-0"><b>Top Review</b></p>
        </div> -->
        <!-- <div class="compare-part cp-row-10" data-parameter="type"></div> -->
      </div>
      <div class="col-9">
        <div class="compare-product-panel">
          <div class="comp-pro-container text-center">
            <div class="comp-pro-item" *ngFor="let item of items; index as i">
              <ng-container *ngIf="item?.course as course">
                <div class="cp-card cp-row-1">
                  <div class="card">
                    <button
                      class="delete-section"
                      (click)="removeCompare(i, course.id)"
                    >
                      <img src="./assets/images/cross.png" alt="bookmark" />
                    </button>
                    <div class="card-body">
                      <div class="course-banner">
                        <img
                          class="fix-image"
                          [src]="course.image"
                          onerror="this.src='https://cdn.shopify.com/s/files/1/0533/2089/files/placeholder-images-image_large.png?format=jpg&quality=90&v=1530129081'"
                          [alt]="course.title"
                        />
                      </div>
                      <div class="row pt-2">
                        <div class="col">
                          <a href="javascript:void(0);">
                            <h4
                              class="
                                ed-card-title
                                ragular-text_1
                                ellipsis-text-two-line
                                course-title
                              "
                            >
                              {{ course.title }}
                            </h4>
                          </a>
                        </div>
                      </div>
                      <div class="row pt-2">
                        <div class="col-12">
                          <!-- {{ course.Pscale }} -->
                          <rupee-scale [scale]="course.Pscale"></rupee-scale>
                        </div>
                      </div>
                      <!-- <div class="row pt-3 mb-4">
                      <div class="col-12">
                        <h5 class="course-price text-start">$ 19.99</h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary-theme btn-fluid"
                        >
                          Buy Now
                        </button>
                      </div>
                    </div> -->
                    </div>
                  </div>
                </div>
                <div class="cp-card cp-row-2">
                  <div class="comp-rate justify-content-center">
                    <rupee-scale
                      [scale]="course?.rating"
                      type="ratings"
                    ></rupee-scale>
                  </div>
                </div>
                <div class="cp-card cp-row-2">
                  <div class="comp-rate justify-content-center">
                    <p class="review-text ms-3">
                      <b class="ragular-text-125 text-secondary">{{
                        course?.Reviews
                      }}</b>
                    </p>
                  </div>
                </div>
                <div class="cp-card cp-row-3">
                  <div class="btn btn-light provider-logo">
                    <img
                      class="course-provider-logo"
                      src="{{ serverUrl }}/{{ course?.course_provider?.image }}"
                      [alt]="course?.course_provider?.name"
                    />
                  </div>
                </div>
                <!-- <div class="cp-card cp-row-4">
                  <div class="comp-rate">
                    <p class="review-text">
                      <b class="ragular-text_1">Web Designer</b>
                    </p>
                  </div>
                </div> -->
                <div class="cp-card cp-row-5">
                  <div class="comp-rate">
                    <p class="review-text">
                      <b class="ragular-text_1">{{ course.title }}</b>
                    </p>
                  </div>
                </div>
                <div class="cp-card cp-row-6">
                  <div class="comp-rate">
                    <p class="review-text">
                      <b class="ragular-text_1">{{
                        course.certification == 1 ? "Yes" : "No"
                      }}</b>
                    </p>
                  </div>
                </div>
                <div class="cp-card cp-row-7">
                  <div class="comp-rate">
                    <p
                      class="review-text"
                      [innerHTML]="course.prerequisites || '-'"
                    ></p>
                  </div>
                </div>
                <div class="cp-card cp-row-8">
                  <div class="comp-rate">
                    <p class="review-text">
                      <b class="ragular-text_1">{{
                        course.Instructer || "-"
                      }}</b>
                    </p>
                  </div>
                </div>
                <!-- <div class="cp-card cp-row-9">
                  <div class="comp-review">
                    <p class="review-text mb-2">
                      <b class="ragular-text_1">Raj Sharma</b>
                    </p>
                    <p>
                      <em
                        >Excellent course. I learned a lot! I've been using
                        Figma in my current job for a while now.</em
                      >
                    </p>
                  </div>
                </div> -->
                <div class="cp-card cp-row-10">
                  <a
                    [href]="course.url"
                    target="_blank"
                    class="btn btn-primary-theme btn-fluid hn-medium mb-2"
                  >
                    Go to Class
                  </a>
                  <!-- <button
                    type="button"
                    class="btn btn-outline-primary-theme hn-medium btn-fluid"
                  >
                    Add to Cart
                  </button> -->
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
